[[redirects]]
  from = "/api/*"
  to = "https://backend1-2agm.onrender.com/api/:splat"
  status = 200
  force = true
  conditions = {Role = ["admin"]}

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"